.slick-dots {
  bottom: 10px;
}
.slick-dots li button, .slick-dots li {
  width: 15px;
  height: 15px;
}
.slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
}
.slick-prev:before, .slick-next:before {
  content: none;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.slick-next, .slick-prev {
  width: 40px;
  height: 40px;
  z-index: 2;
}
.slick-next img, .slick-prev img {
  max-width: 40px;
}
.content-slider {
  position: absolute;
  bottom: 0;
  padding: 20px 30px;
  max-width: 500px;
  color: #fff;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.content-slider .title {
  font-size: 28px;
  margin-bottom: 20px;
}
