* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
@media (max-width: 780px) {
  .container-wrapper {
    padding: 0 15px;
  }
}
