.news-wrapper .title-head {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 5rem 0;
}
.list-news {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.list-news-wrapper .item-news {
  position: relative;
  float: left;
  width: 25%;
  height: 15rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 5rem;
}
.list-news-wrapper .item-news img {
  display: block;
  object-fit: cover;
  height: 15rem;
  transition: transform 0.3s ease;
}
.list-news-wrapper .item-news img:hover {
  transform: scale(1.2, 1.2);
}
.list-news-wrapper .item-news a {
  display: block;
  position: relative;
  height: 15rem;
  overflow: hidden;
}
.list-news-wrapper .item-news .title {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 1rem 1.5rem;
}
.list-tabs {
  padding-left: 0;
  list-style-type: none;
}
.list-tabs li {
  float: left;
  margin-bottom: 1rem;
}
.list-tabs li button {
  background: none;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 0.1rem solid transparent;
}
.list-tabs li button:focus {
  border-bottom: 0.1rem solid #000;
}
@media (max-width: 780px) {
  .news-wrapper .title-head {
    margin-bottom: 2rem;
  }
  .list-news-wrapper .item-news {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }
  .list-news-wrapper .item-news a {
    box-shadow: 0.3rem 0.3rem 0.6rem #b3b3b3;
  }
  .list-news-wrapper .item-news a, .list-news-wrapper .item-news img {
    height: auto;
    width: 100%;
    max-height: 30rem;
  }
}
