.header {
  position: relative;
  min-height: 30px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #999;
}
.logo-wrapper {
  float: left;
  width: 20%;
}
.logo-wrapper .title{
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
.logo-wrapper .logo {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  max-width: 70px;
}
.navigation {
  float: right;
  margin-right: 20px;
}
.navigation li {
  display: inline-block;
}
.navigation li a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 14px 20px;
}
.navigation li a:hover {
  border-bottom: 2px solid #000;
}
.btn-nav {
  display: none;
}
@media (max-width: 780px) {
  .navigation {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  .list-nav {
    position: absolute;
    display: none;
    width: 60%;
    background-color: #000;
    z-index: 3;
  }
  .list-nav.open-mobile {
    display: block;
  }
  .navigation li {
    float: none;
    width: 100%;
  }
  .navigation li a {
    color: #fff;
  }
  .logo-wrapper {
    display: none;
  }
  .content-slider {
    display: none;
  }
  .btn-nav {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 21px;
    background-color: transparent;
    border: none;
    text-indent: -99999px;
    margin: 10px;
  }
  .btn-nav:before {
    position: absolute;
    content: "";
    width: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    width: 35px;
    height: 3px;
    box-shadow: 0 9px 0 0 black, 0 9px 0 0 transparent;
  }
  .btn-nav:after {
    position: absolute;
    content: "";
    width: 100%;
    background-color: #000;
    left: 0;
    bottom: 0;
    width: 35px;
    height: 3px;
  }
}
